td.state-y,td.state-n,td.state-p,td.state-w,td.state-t,td.state-u{
	text-align:center;
}
td.state-y{background-color:#CFFFBF;}
td.state-n{background-color:#FF6060;}
td.state-p{background-color:yellow;}
td.state-w{background-color:lightskyblue;}
td.state-t{background-color:orange;}
td.state-u{background-color:#A0A0A0;}
th{
	padding-left:5px;
	padding-right:5px;
	white-space:nowrap;
}
body{
	overflow:auto !important;
}
.markdown-section{
	max-width:100%;
	padding:0px 15px 40px;
}
